@font-face {
    font-family: "BlenderProHeavy";
    src: url(../fonts/BlenderProHeavy.ttf);
}
@font-face {
    font-family: "BlenderProMedium";
    src: url(../fonts/BlenderProMedium.ttf);
}
@font-face {
    font-family: "BlenderProBold";
    src: url(../fonts/BlenderProBold.ttf)
}
@font-face {
    font-family: "MuseoSansCyrl";
    src: url(../fonts/MuseoSansCyrl.otf)
}
@font-face {
    font-family: "BlenderProBook";
    src: url(../fonts/BlenderProBook.ttf)
}